<body style="background-image: url('bg-01.jpg')" class="img-fluid">

  <header class="masthead mt-5" >
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="font-weight-light">Vertically Centered Masthead Content</h1>
          <p class="lead">A great starter layout for a landing page</p>
        </div>
      </div>
    </div>
  </header>

<div class="container mt-3 ">
  <div class="container row">
  <img src="hikeandseelogo.jpg" class="mx-auto d-block " width="200px" >
  </div>
    <div class="row mb-3">
      <div class=" content  col-6 mx-auto mt-5 "> 
        <form class="form-signin content " >        
          <h1 class="h3 mb-3 font-weight-normal text-center text-white"><b>Login</b></h1>
          <div class="mb-2">
          <input type="email" id="inputEmail" class="form-control p-1 text-center" placeholder="Email address" required autofocus>
        </div>
        <div class="mb-2">
          <input type="password" id="inputPassword" class="form-control p-1 text-center" placeholder="Password" required>
        </div>
          <button class="btn btn-lg btn-danger btn-block" type="submit text-center" >Sign in</button>
          </form>
    </div>    
    </div>
  </div>
</body>