<div class="container mt-2">
   
    <div class="row " style="background-image: url('img_girl.jpg');">

        <div class="col-md-8 mx-auto p-0">

            <div class="card cardres1 flex-md-row mb-4">
               <a >
                    <img class="card zoom mx-auto circle" alt="Thumbnail [200x250]" src="//placeimg.com/250/250/arch"
                    style="width: 200px; height: 200px;">
                </a>
                <div class="card-body d-flex mx-auto flex-column align-items-start">
                    <div class="row">
                        <div class="col-md-row p-2 mx-auto ">
                            <strong class="d-inline-block mb-2 text-primary"> SamirThapa</strong></div>
                       <a class="btn btn-outline-primary btn-black" role="button">
                           <i class="fa fa-user fa-2x p-2"></i>Edit Profile</a>

                        <div class="col-md-row p-2">
                            <i class="fa fa-cog fa-2x fa-spin"></i>
                        </div>
                    </div>
                    <h6 class="mb-0">
                        <a class="text-dark" href="#">Bio</a>
                    </h6>
                    <div class="mb-3 text-muted small">Name</div>

                </div>
            </div>
        </div>

        <div class="col-md-4 mx-auto" data-aos="fade-up">
            <div class="card mb-4 bg-dark text-white">
                <img class="card-img" src="//placeimg.com/250/180/any" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container back1 text-center  text-white border p-4 mb-2 height:70px" >
        <div class="row container back-color-1">
              <div class="col-4 "><h5 >Followers</h5><strong>15</strong></div>
              <div class="col-4 "><h5>Following</h5><strong>26</strong></div>
              <div class="col-4 "><h5>Posts</h5><strong>55</strong></div>            
          </div>
    </div>
    <div class="col-xs-12 mb-2" data-aos="fade-left">
        <nav class="fs-16">
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active " id="nav-all-tab" data-toggle="tab" href="#nav-posts" role="tab"
                    aria-controls="nav-all" aria-selected="true"><i class="fa fa-image fa-2x"></i></a>
                <a class="nav-item nav-link " id="nav-mobile-tab" data-toggle="tab" href="#nav-tags" role="tab"
                    aria-controls="nav-mobile" aria-selected="false"><i class="fa fa-bookmark fa-2x"></i></a>
                <a class="nav-item nav-link " id="nav-web-tab" data-toggle="tab" href="#nav-explore" role="tab"
                    aria-controls="nav-web" aria-selected="false"><i class="fa fa-globe fa-2x"></i></a>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <img class="card-img-top" src="//placeimg.com/290/180/any" alt="Card image cap">
                
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 border-dark">
                <img class="card-img-top" src="//placeimg.com/290/180/any" alt="Card image cap">
                
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 text-white bg-dark">
                <img class="card-img-top" src="//placeimg.com/290/180/any" alt="Card image cap">
              
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <img class="card-img-top" src="//placeimg.com/290/180/any" alt="Card image cap">
                
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 border-dark">
                <img class="card-img-top" src="//placeimg.com/290/180/any" alt="Card image cap">
               
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 text-white bg-dark">
                <img class="card-img-top" src="//placeimg.com/290/180/any" alt="Card image cap">
              
            </div>
        </div>
    </div>
  
    <hr>
</div>
