<body style="background-image: url('bg-01.jpg');" >
  <div class="container mt-3  ">
    <div class="container row">
    <img src="hikeandseelogo.jpg" class="mx-auto d-block "  >
  </div>
    <div class="row mb-3">
     
   <div class=" content  col-6 mx-auto  ">
   
          <form class="form-signin content" >
              
            <h1 class="h3 mb-3 font-weight-normal text-center text-white"><b>register</b></h1>
            <div class="mb-2">
            <input type="email" id="inputEmail" class="form-control p-1 text-center" placeholder="Email address" required autofocus>
          </div>
          <div class="mb-2">
            <input type="password" id="inputPassword" class="form-control p-1 text-center" placeholder="Password" required>
          </div>
          <div class="mb-2">
            <input type="password" id="inputPassword" class="form-control p-1 text-center" placeholder="Re-Password" required>
          </div>
          <div class="mb-2">
            <input type="password" id="inputPassword" class="form-control p-1 text-center" placeholder="Verification Code" required>
          </div>
            <button class="btn btn-lg btn-danger btn-block" type="submit" >Register</button>
          
          </form>
      </div>
  
      
      </div>
      
  </div>
  </body>